:host::ng-deep {
  .p-card {
    display: flex;
    height: 100%;
    width: 100%;
  }
  .p-card-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 20px;
    height: 100%;
    width: 100%;
  }
  .p-card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
}
